@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=PT+Sans+Narrow&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

h1,h2,h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
}

p{
    font-family: 'Cabin', sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
    font-weight: 400;
    text-align: justify;
    margin: auto;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1030;
    background-color:rgb(84, 82, 80);
}

.navbar > .container-fluid > .collapse > ul > li > a{
    color: white;
}

.landing-page{
    /* margin-top: 70px; */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.644)), url(/assets/images/code.jpeg);
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    background-size: cover;
}

.welcome {
    position: absolute;
    margin: 0;
    color: white;
    font-family: monospace;
    font-weight: bolder;
    font-size: 50px;
    width: 100%;
    top: 40%;
    text-align: center;
    text-decoration: underline;
}

.headline{
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 3em;
    margin-bottom: 1em;
}

.row{
    width: 90%;
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* beranda */
.row > .img-side {
    text-align: center;
}

.galeri{
    margin-top: 70px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.644)), url(/assets/images/code.jpeg);
    background-attachment: fixed;
    position: relative;
    height: 80vh;
}

.title-galeri{
    position: absolute;
    margin: 0;
    color: white;
    font-family: monospace;
    font-weight: bolder;
    font-size: 50px;
    width: 100%;
    top: 10%;
    text-align: center;
    text-decoration: underline;
}

div.galeri > div.row{
    position: absolute;
    margin-top: 12em;
    margin-left: 6em;
}

/* beranda */
div.galeri > div.row > div > img{
    max-width: 240px;
    max-height: 240px;
}


footer{
    color: white;
    background-color: rgb(71, 71, 71);
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}